body {
  background-color: #141414;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 10;
  padding: 10;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}



#logo {
  margin: 0 auto;
  max-width: 10%;
  padding: 10;
  text-align: center;

  /* Responsive mobile */

  @media (max-width: 768px) {
    max-width: 100%;
  }

  /* Responsive tablet */
  @media (min-width: 768px) and (max-width: 992px) {
    max-width: 50%;
  }

  /* Responsive desktop */

  @media (min-width: 992px) {
    max-width: 20%;
  }

  /* Responsive large desktop */
  @media (min-width: 1200px) {
    max-width: 10%;
  }

  /* Responsive extra large desktop */

  @media (min-width: 1600px) {
    max-width: 10%;
  }

  
}

/* Responsive for mobile */

  @media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 400px) {
    body {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 300px) {
    body {
      font-size: 8px;
    }
  }

  @media screen and (max-width: 200px) {
    body {
      font-size: 6px;
    }
  }





